body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #c50101;
    line-height: 1.6;
}

#showcase{
    background-image: url('showcase.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px;
}

#showcase h1{
    font-size: 50px;
}

#showcase p{
    font-size: 20px;
}

#showcase a{
    font-size: 18px;
    text-decoration: none;
    color:#926239;
    border: #926239 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
}
#showcase a:hover{
    background: #926239;
    color: #ffffff;
}

#section-a{
    padding: 20px;
    background: #926239;
    color: #ffffff;
    text-align: center;

}
#section-b{
    padding: 20px;
    background: #f4f4f4;
    text-align: center;

}
#section-c div{
    padding: 20px;
}
#section-c{
    display: flex;
}
#section-c .box1, #section-c .box3{
    background: #926239;
    color: #fff;
}
